/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=carrossel-cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&display=swap');

h1,
h2,
.titulo {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p,
.texto {
    font-family: "carrossel-cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1em, 2vw, 3em);
}

/* cores */
:root {
    --vermelho: #740211;
    --borda-alaranjada: #FF6B35;
    --amarelo: #F2C14E;
    --verde: #003F47;
    --preto: #0D0D11;
    --azul: #0A1A2F;
    --branco: #FFFFFF;
}

html {
    scrollbar-color: #A0A0A0 #000;
    scrollbar-width: thin;
}

body {
    scrollbar-width: thin;
    box-sizing: border-box;
}



/* Mensagem para celulares que aparece só em portrait (retrato)*/
.mensagemTelaDeitada {
    position: fixed;
    inset: 0;
    /* reset */
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--azul);
    color: white;
    padding: 20px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease, visibility .25s ease;
    pointer-events: none;
}

.mensagemTelaDeitada.ativar {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.mensagemTelaDeitada-texto {
    padding: 18px;
    max-width: 420px;
}

.mensagemTelaDeitada-texto p {
    margin: 1em 0 0 0;
    font-size: 0.95rem;
    text-align: justify;
}

/* estilo padrão */
.cor-titulo {
    color: var(--amarelo);
    font-family: "Cinzel", serif;
    font-weight: 700;
    text-shadow:
        0 0 6px var(--borda-alaranjada),
        0 2px 4px var(--preto);
}

.btn-vermelho {
    background: linear-gradient(145deg, #740211 7%, #DA0420 45%, #9B0317 100%);
}

.btn-verde {
    background: linear-gradient(145deg, #003F47 7%, #0C4D55 45%, #003F47 100%);
}

.btn-preto {
    background: linear-gradient(145deg, #202024 7%, #17171B 45%, #0D0D11 100%);
}

.btn-padrao {
    color: var(--amarelo);
    border: none;
    width: 100%;
    width: clamp(180px, 80vw, 340px);
    padding: 0px;
    margin: 0;
    cursor: pointer;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;

    transition: transform .15s ease,
        filter .15s ease,
        background-color .15s ease;
}

.btn-padrao:hover {
    color: var(--amarelo);
    filter: brightness(1.08);
    box-shadow: 0 6px 18px rgba(96, 93, 94, 0.55);
    transform: translateY(-1px);
}

.btn-padrao:active,
.btn-vermelho:active,
.btn-verde:active {
    color: var(--amarelo);
    transform: scale(0.96);
    filter: brightness(0.85);
    box-shadow: 0 2px 6px rgba(83, 80, 81, 0.4);
}

.btn-padrao span,
.btn-padrao_texto {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-size: clamp(0.6em, 0.3em + 1vw, 2.5em);
}

/* Imagens do botão */
.btn-padrao_img-top,
.btn-padrao_img-bottom {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* animação quando abre o site */
.offcanvas.offcanvas-top {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    border: none;
    overflow: auto;
}

.offcanvas.offcanvas-top .offcanvas-body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--azul);
}

/* conteudo do index */
.bg-index {
    background-image: url('/assets/img-fundo-tema-jogo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bg-index section {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
}

/* página: Selecionar os Personagens */
.bg-selecionarPersonagens {
    background-image: url('/assets/img-fundo-guerreiros.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* página: Selecionar Adversarios */
.bg-selecionarAdversarios {
    background-image: url('/assets/img-fundo-adversarios.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* carrossel-card carousel */
.seta-carrossel img {
    height: 10em;
    max-height: 15em;
}


.carrossel-container {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carrossel-container_carrossel-cards {
    width: 100%;
    max-height: 100%;

    display: flex;
    gap: 0.5rem;

    overflow-x: auto;

    padding: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carrossel-card {
    /*  flex: 0 0 15.063em; */
    flex: 0 0 clamp(12.56em, 14vw, 15.063em);
    width: 11em;
    height: 100%;
    max-height: 60vh;
    scroll-snap-align: start;

    background-image: url('/assets/moldura.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    transition: transform .25s ease;

}

.carrossel-card img {
    width: clamp(8em, 10vw, 10em);
    max-width: 100%;
    height: auto;
    object-fit: cover;
    align-self: center;
}


/* página: Com os dois oponentes */
.bg-Oponente {
    background-image: url('/assets/img-fundo-tema-jogo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.espada {
    max-width: 100%;
    width: 2em;
    height: 10em;
}

/* página: combate */
.bg-combate {
    background-image: url('/assets/img-fundo-combate.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.log-combate {
    width: 25em;
    height: 23em;
    background-color: #000;
    border-radius: 35px;
}

.img-dado {
    max-width: 100%;
    width: 50%;
}

/* carrossel-card de combate */
.carrossel-card-combate {
    background-color: var(--verde);
    width: 15em;
    height: 25em;
}

.imagem-jogador {
    max-width: 100%;
    width: 75%;
}

.carrossel-card-combate_secao-info {
    max-width: 100%;
    width: 100%;
}

.carrossel-card-combate-info--bg-verde {
    background-color: var(--verde);
    color: var(--amarelo);
}

.carrossel-card-combate-info--bg-amarelo {
    background-color: var(--amarelo);
    color: var(--preto);
}

/* modal */
/* .bg-modal {
    width: 100%;
    background-image: url('/assets/modal.png');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: transparent; 
}

.bg-modal.has-bg-image::before{
    content: '';
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.12; 
    pointer-events: none;
}

.modal-content.bg-modal{ position: relative; overflow: visible; } */