/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=carrossel-cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&display=swap');

h1,
h2,
.titulo {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p,
.texto {
    font-family: "carrossel-cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1em, 2vw, 3em);
}

/* cores */
:root {
    --vermelho: #740211;
    --borda-alaranjada: #FF6B35;
    --amarelo: #F2C14E;
    --verde: #003F47;
    --preto: #0D0D11;
    --azul: #0A1A2F;
    --branco: #FFFFFF;
}

html {
    scrollbar-color: #A0A0A0 #000;
    scrollbar-width: thin;
}

body {
    scrollbar-width: thin;
    box-sizing: border-box;
}



/* Mensagem para celulares que aparece só em portrait (retrato)*/
.mensagemTelaDeitada {
    position: fixed;
    inset: 0;
    /* reset */
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--azul);
    color: white;
    padding: 20px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease, visibility .25s ease;
    pointer-events: none;
}

.mensagemTelaDeitada.ativar {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.mensagemTelaDeitada-texto {
    padding: 18px;
    max-width: 420px;
}

.mensagemTelaDeitada-texto p {
    margin: 1em 0 0 0;
    font-size: 0.95rem;
    text-align: justify;
}

/* estilo padrão */
.cor-titulo {
    color: var(--amarelo);
    font-family: "Cinzel", serif;
    font-weight: 700;
    text-shadow:
        0 0 6px var(--borda-alaranjada),
        0 2px 4px var(--preto);
}

.btn-vermelho {
    background: linear-gradient(145deg, #740211 7%, #DA0420 45%, #9B0317 100%);
}

.btn-verde {
    background: linear-gradient(145deg, #003F47 7%, #0C4D55 45%, #003F47 100%);
}

.btn-preto {
    background: linear-gradient(145deg, #202024 7%, #17171B 45%, #0D0D11 100%);
}

.btn-padrao {
    color: var(--amarelo);
    border: none;
    width: 100%;
    width: clamp(180px, 80vw, 340px);
    padding: 0px;
    margin: 0;
    cursor: pointer;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;

    transition: transform .15s ease,
        filter .15s ease,
        background-color .15s ease;
}

.btn-padrao:hover {
    color: var(--amarelo);
    filter: brightness(1.08);
    box-shadow: 0 6px 18px rgba(96, 93, 94, 0.55);
    transform: translateY(-1px);
}

.btn-padrao:active,
.btn-vermelho:active,
.btn-verde:active {
    color: var(--amarelo);
    transform: scale(0.96);
    filter: brightness(0.85);
    box-shadow: 0 2px 6px rgba(83, 80, 81, 0.4);
}

.btn-padrao span,
.btn-padrao_texto {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-size: clamp(0.6em, 0.3em + 1vw, 2.5em);
}

/* Imagens do botão */
.btn-padrao_img-top,
.btn-padrao_img-bottom {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* animação quando abre o site */
.offcanvas.offcanvas-top {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    border: none;
    overflow: auto;
}

.offcanvas.offcanvas-top .offcanvas-body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--azul);
}

/* conteudo do index */
.bg-index {
    background-image: url('/assets/img-fundo/img-fundo-tema-jogo.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bg-index section {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
}

/* página: Selecionar os Personagens */
.bg-selecionarPersonagens {
    background-image: url('/assets/img-fundo/img-fundo-guerreiros.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* página: Selecionar Adversarios */
.bg-selecionarAdversarios {
    background-image: url('/assets/img-fundo/img-fundo-adversarios.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* carrossel-card carousel */
.seta-carrossel img {
    height: 10em;
    max-height: 15em;
}


.carrossel-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carrossel-container_cards {
    width: 100%;
    height: 65vh;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    overflow-x: auto;

    padding: 0rem;
    padding-inline: 1rem;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carrossel-card {
    flex: 0 0 100%;
    max-width: 150px;

    aspect-ratio: 3 / 4;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 10px;
    scroll-snap-align: start;

    background: var(--azul);
    cursor: pointer;


    /*     background-image: url('/assets/moldura.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */

    /*     border: 30px solid transparent;
    border-image: url("/assets/seta-prox.png") 150 round; */

    transition: transform .25s ease;
}

.carrossel-container_cards-personagens {
    justify-content: center;
    align-items: center;
}

.carrossel-card:active {
    border: 3px solid #F2C14E;
}

.carrossel-card.ativo {
    outline: 3px solid var(--amarelo);
    transform: scale(1.03);
}

.carrossel-card--adversario {
    background: var(--vermelho);
}

.carrossel-card div h5 {
    font-size: clamp(0.6em, 0.3em + 1vw, 2.3em);
    font-weight: bold;
}

.carrossel-card div h5 span {
    font-size: clamp(0.6em, 0.3em + 1vw, 2em);
    font-weight: normal;
}

.carrossel-card img {
    width: clamp(8em, 10vw, 10em);
    max-width: 100%;
    height: auto;
    object-fit: cover;
    align-self: center;
}


/* página: Com os dois oponentes */
.bg-Oponente {
    background-image: url('/assets/img-fundo/img-fundo-tema-jogo.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.card-pre-jogo:active {
    border: 1px solid var(--preto);
}

/* .card-pre-jogo {
    background-image: url('/assets/moldura.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

.espada {
    max-width: 100%;
    width: 2em;
    height: 10em;
}

/* página: combate */
.bg-combate {
    background-image: url('/assets/img-fundo/img-fundo-combate.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/* LOG */
.log-combate {
    width: clamp(14rem, 90vw, 18rem);
    height: auto;
    max-height: clamp(15rem, 30vh, 14rem);

    background-color: #000;
    border-radius: 1.25rem;
    padding: 1em;

    display: flex;
    gap: 0.5rem;
}

.log-combate h5 {
    font-size: clamp(0.8em, 0.8em + 1vw, 2.3em);
    height: 2.5em;
    overflow-y: auto;
    padding-right: 0.3em;
}

/* Dado */
.log-combate__img {
    position: relative;
}

.img-dado {
    width: 100%;
    max-width: 130px;
    display: block;
}

.log-combate__img span {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;
    font-weight: bold;
    color: #fff;

    pointer-events: none;
}

/* card de combate */
.carrossel-card-combate {
    width: 10em;
    height: 15em;

    padding: 0;
    margin: 0;
}

/* Imagem do jogador*/
.imagem-jogador {
    width: 95%;
    max-width: 250px;
    padding: 0;
    margin: 0;
}

/* seção informações */
.carrossel-card-combate_secao-info div h3 {
    font-size: clamp(0.8em, 1em + 1vw, 2.3em);
    font-weight: bold;
}

.carrossel-card-combate_secao-info div h4 {
    font-size: clamp(0.8em, 0.8em + 1vw, 2.3em);
}

.carrossel-card-combate-info--bg-verde {
    background-color: var(--verde);
    color: var(--amarelo);
}

.carrossel-card-combate-info--bg-vermelho {
    background-color: var(--vermelho);
    color: var(--amarelo);
}

.carrossel-card-combate-info--bg-amarelo {
    background-color: var(--amarelo);
    color: var(--preto);
}

.icon-botao {
    position: absolute;
    left: -25px;
    top: -10px;
    width: 40%;
}

/* modal */
.bg-modal {
    border: 20px solid transparent;

    background: linear-gradient(160deg,
            #ffe7a3 0%,
            var(--amarelo) 35%,
            #543f10 100%);
}

.btn-ver-log,
.btn-jogar-novo,
.btn-sair {
    padding: 0.75rem 1.25rem;
    border-radius: 14px;

    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.03em;

    cursor: pointer;
    border: 2px solid transparent;

    transition:
        transform .15s ease,
        box-shadow .15s ease,
        background-color .2s ease,
        filter .2s ease;
}

.btn-ver-log {
    background:
        linear-gradient(180deg,
            #2f7f66 0%,
            var(--verde) 60%,
            #1b4f3f 100%);

    color: var(--amarelo);
    border-color: #1b4f3f;

    box-shadow:
        inset 0 2px 4px rgba(255, 255, 255, .25),
        0 4px 10px rgba(0, 0, 0, .4);
}

.btn-jogar-novo {
    background:
        linear-gradient(180deg,
            #b02a2a 0%,
            var(--vermelho) 60%,
            #6f1414 100%);

    color: var(--amarelo);
    border-color: #6f1414;

    box-shadow:
        inset 0 2px 4px rgba(255, 255, 255, .2),
        0 4px 10px rgba(0, 0, 0, .4);
}

.btn-sair {
    background:
        linear-gradient(180deg,
            #333 0%,
            var(--preto) 60%,
            #000 100%);

    color: #eee;
    border-color: #000;

    box-shadow:
        inset 0 1px 3px rgba(255, 255, 255, .15),
        0 3px 8px rgba(0, 0, 0, .5);
}

.btn-ver-log:hover,
.btn-jogar-novo:hover,
.btn-sair:hover {
    filter: brightness(1.1);
    color: #fff;
}

.btn-ver-log:active,
.btn-jogar-novo:active,
.btn-sair:active {
    box-shadow:
        inset 0 3px 6px rgba(0, 0, 0, .4);
}

/* 
.bg-modal {
    overflow: hidden;
    background-color: transparent;
    background-image: url('/assets/modal.png');
    aspect-ratio: 16 / 9;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.modal-custom {
    max-width: 75vw;
    height: 85vh;
}

.modal-custom .modal-content {
    height: 100%;
    overflow: hidden;
}

.modal-body {
    width: 100%;
    height: 100%;
    padding: 0 50px;
} */



/* desativar hover */
@media (hover: hover) {
    /* segunda e terceira página */

    .carrossel-card:hover {
        transform: translateY(-4px);
    }
}

@media (min-width: 900px) {

    /* página combate */
    .log-combate {
        width: 25em;
        height: 20em;
    }

    .img-dado {
        width: 100%;
    }

    .carrossel-card-combate {
        width: 15em;
        height: 20em;
    }

    .imagem-jogador {
        width: 100%;
    }
}


@media (min-width: 1024px) {

    /*segunda e terceira página  */
    .carrossel-container_cards {
        height: 65vh;
        align-items: center;
    }

    .carrossel-container_cards-personagens {
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .carrossel-card {
        flex: 0 0 75%;
        max-width: 220px;
        height: 75%;
        align-items: center;
        background-size: cover;
    }


    .carrossel-card div h5 {
        font-size: clamp(0.5em, 0.1em + 0.8vw, 2.2em);
        font-weight: bold;
    }

    .carrossel-card div h5 span {
        font-size: clamp(0.6em, 0.1em + 1vw, 2em);
        font-weight: normal;
    }
}